// color
//ベース、メイン、アクセント
//ヘッダー、フッター

//完全メシ
$header: #F5BE51;
$headerlogo:#162B64;
$accentblue:#162B64;
$accentYellow:#FDEC5D;
$footer: #FE7B47;


//ペールトーン淡い PALE　ＴＯＮＥ
// 
//フルーツボックス
//完全メシ
$palePeach: #FADB9D;
$paleBanana: #ECE0A2;
$paleMelon: #D5CF8E;
$paleLemonSquash: #F3E18D;


//天然とんこつラーメン　一蘭 
// /微妙に進数違うかも。下二つ色変更。修正入れる。
$ichiranred:#B92F2D;
$ichirangreen:#287130;

//焼肉きんぐ
// 未使用

//その他、使用した色。

//アクアマリン
// 小さいｉｃｏｎなど装飾。
$aquamarine:aquamarine;





//フォントファミリー
// 未設定

